spring:
  profiles:
    active: local
  h2:
    console:
      enabled: true
      path: /h2
    datasource:
      url: jdbc:h2:mem:testdb
      username: sa
      password:
      driverClassName: org.h2.Driver
    liquibase:
      change-log: classpath:/db/master.xml

server:
  error:
    include-message: always